@model IEnumerable<Pozdravlyator.Models.BirthdayPerson>

<div class="container mt-4">

    <h1>📅 Ближайшие дни рождения</h1>

    <table class="table table-striped mt-3">

        <tr>
            <th>Имя</th>
            <th>Дата рождения</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.BirthDate.ToShortDateString()</td>
            </tr>
        }

    </table>

</div>