@{
    ViewData["Title"] = "О приложении";
}

<div class="container mt-5">

    <h1>ℹ️ О приложении "Поздравлятор"</h1>

    <p class="lead">
        Это веб-приложение для хранения и управления списком дней рождения в рамках прохождения практики в ООО "Соларалб"
    </p>

    <ul>
        <li>Добавление дней рождения</li>
        <li>Редактирование записей</li>
        <li>Удаление записей</li>
        <li>Просмотр ближайших и сегодняшних ДР</li>
    </ul>

    <hr />

    <p>
        Технологии: ASP.NET Core MVC, Entity Framework Core, Bootstrap, SQLite.
    </p>

</div>